@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Edu NSW ACT Foundation', cursive;
}

header{
    width: 100%;
    background-color: aqua;
    text-align: center;
    padding: 15px;
    border-bottom: 2px solid aquamarine;
}

header h1{
    color: #fff;
}

main{
    min-height: 30vh;
}

.card{
    width: 30%;
    display: inline-block;
    margin: 15px;
    text-align: center;
}

.card h3{
    color: aqua;
    border: 5px solid aqua;
    padding: 5px;
    font-size: 24px;
    margin-bottom: 7px;
}

.card .p1{
    font-style: italic;
    margin-bottom: 4px;
}

.card .p2{
    margin-bottom: 10px;
    font-weight: 700;
}



.card button{
    background-color: aqua;
    font-weight: 900;
    width: 150px;
    height: 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: 2s;
}

.card button:hover{
    background-color: blue;
    color: #fff;
    transform: scale(1.5);
}

.card .p2:hover{
    transform: scale(2);
}

#img-1{
    background-image: url(../img/tenis1.jpg);
}

#img-2{
    background-image: url(../img/tenis2.jpg);
}

#img-3{
    background-image: url(../img/tenis3.jpg);
}

#img-4{
    background-image: url(../img/tenis4.jpg);
}

#img-5{
    background-image: url(../img/tenis5.jpg);
}

#img-6{
    background-image: url(../img/tenis6.jpg);
}

.tenis{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
}

footer{
    width: 100%;
    background-color: aqua;
    text-align: center;
    padding: 15px;
    border-bottom: 2px solid aquamarine;
}